/***/
HTML
{
	overflow: -moz-scrollbars-vertical;
	margin: 0;
	padding: 0;
}
BODY
{
	background-color: #FFF;
	background: url('../images/bgtop.png') repeat-x;
	color: #000000;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	line-height: 1.5em;
}
BODY, TD, TH, INPUT, TEXTAREA, SELECT, A
{
	font-size: 12px;
}
.searchbox-content INPUT
{
	margin-left: 7px;
	margin-right: 5px;
	padding: 3px;
}
#searchkeywords INPUT
{
	width: 300px;
}
H1, .welcome
{
	color: #000000;
	font: 1em "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-top: 10px;
	margin-bottom: 15px;
	font-size: 25px;
	font-weight: normal;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
}
H2
{
	color: #000000;
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 15px;
}
P
{
	margin-top: 0px;
	margin-bottom: 20px;
}
A, A:visited, A B
{
	color: #F77B00;
	text-decoration: underline;
	cursor: pointer;
	font-weight: normal;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	/*[empty]font-size:;*/
}
.poweredtext A
{
	font-size: 8pt;
}
A:hover
{
	text-decoration: none;
	color: #454343;
}
.product-info .review A
{
}
.category-list LI
{
	padding-top: 6px;
}
A IMG
{
	border: none;
}
FORM
{
	padding: 0;
	margin: 0;
	display: inline;
}
INPUT[type='text'], INPUT[type='password'], TEXTAREA
{
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 3px 3px 5px;
	margin-left: 0px;
	margin-right: 0px;
}
#contact INPUT
{
	margin-bottom: 10px;
	width: 300px;
}
.return-captcha INPUT
{
	padding-bottom: 5px;
	margin-bottom: 10px;
	margin-top: 11px;
}
SELECT
{
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 2px;
}
.searchbox-content SELECT
{
	margin-left: 6px;
	background-color: #DBDEE1;
}
LABEL
{
	cursor: pointer;
}
/*layout*/
#container
{
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
#column-left
{
	float: left;
	width: 185px;
	margin-top: 10px;
}
#column-right
{
	float: right;
	width: 180px;
	margin-top: 15px;
}
#content
{
	min-height: 400px;
	margin-bottom: 25px;
	border-bottom: 1px solid #DBDEE1;
	border-right: 1px solid #DBDEE1;
	border-left: 1px solid #DBDEE1;
	padding: 10px;
}
#column-left + #column-right + #content, #column-left + #content
{
	margin-left: 195px;
}
#column-right + #content
{
	margin-right: 195px;
}
/*header*/
#topbar-wrapper
{
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
#butsearch
{
}
#butsearch .buttonsearch
{
	position: absolute;
	margin-left: 222px;
	margin-top: -32px;
}
#searchkeywords
{
	padding: 5px;
	position: absolute;
}
#subcat
{
	margin-left: 645px;
	height: 40px;
	position: absolute;
}
#topbar-inside
{
	background: #F77B00 url('../images/lined2.png');
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	height: 80px;
}
#top-wrapper
{
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	background-color: #222121;
}
#top-wrapperinside
{
	width: 980px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
#header-wrapper
{
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
.shadowbox
{
	background-image: url(../images/dropbox.png);
	margin-bottom: 10px;
	height: 20px;
	background-repeat: repeat-x;
	margin-top: 0px;
}
.tags
{
	padding-bottom: 10px;
}
.searchbartitle
{
	font-size: 12pt;
	color: #FFFFFF;
	text-shadow: 1px 1px 2px #000000;
	margin-left: 15px;
	padding-top: 10px;
	font-weight: bold;
}
#header
{
	width: 980px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	z-index: 99;
	height: 80px;
	padding: 0px;
}
#logo
{
	position: absolute;
	top: 25px;
	left: 15px;
	/*+placement:float-left 20px 25px;*/
	float: left;
	position: relative;
	left: 20px;
	top: 25px;
}
#language
{
	position: absolute;
	color: #999;
	line-height: 17px;
	/*+placement:float-right 0px 0px;*/
	float: right;
	position: relative;
	left: 0px;
	top: 0px;
	padding: 10px 0 10px 10px;
}
#language IMG
{
	cursor: pointer;
}
#currency
{
	position: absolute;
	color: #999;
	line-height: 17px;
	/*+placement:float-right 0px 0px;*/
	float: right;
	position: relative;
	left: 0px;
	top: 0px;
	padding: 10px 0 10px 10px;
}
#currency A
{
	display: inline-block;
	padding: 0 4px;
	border: 1px solid #888888;
	color: #999999;
	text-decoration: none;
	margin-right: 2px;
	margin-bottom: 2px;
}
#currency A B
{
	color: #F77B00;
	text-decoration: none;
}
#cart
{
	position: absolute;
	z-index: 9;
	min-width: 300px;
	/*+placement:float-right 0px 0px;*/
	float: right;
	position: relative;
	left: 0px;
	top: 0px;
	padding: 12px;
}
#cart .heading
{
	margin-right: 172px;
	margin-top: 0px;
	position: relative;
	z-index: 1;
	/*+placement:float-right 0px 0px;*/
	float: right;
	position: relative;
	left: 0px;
	top: 0px;
	color: #FFFFFF;
}
#cart .heading P
{
	color: #333333;
	font-size: 15px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 3px;
}
#cart .heading A
{
	color: #F77B00;
	text-decoration: none;
	margin-left: 10px;
}
#cart .heading A SPAN
{
	background: url('../image/arrow-down.png') no-repeat 100% 50%;
	padding-right: 15px;
	margin-left: 12px;
	/*[empty]color:;*/
}
#cart .content
{
	clear: both;
	display: none;
	position: relative;
	top: -1px;
	padding: 8px;
	min-height: 150px;
	border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	-webkit-border-radius: 0px 7px 7px;
	-moz-border-radius: 0px 7px 7px;
	-khtml-border-radius: 0px 7px 7px;
	border-radius: 0px 7px 7px 7px;
	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;
	background: #FFF;
}
#cart.active .heading
{
	padding-bottom: 6px;
}
#cart.active .content
{
	display: block;
}
#cart .cart
{
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
}
#cart .cart TD
{
	color: #000;
	vertical-align: top;
	padding: 10px 5px;
	border-bottom: 1px solid #EEEEEE;
}
#cart .cart .image
{
	width: 1px;
}
#cart .cart .image IMG
{
	border: 1px solid #EEEEEE;
	text-align: left;
}
#cart .cart .name SMALL
{
	color: #666;
}
#cart .cart .quantity
{
	text-align: right;
}
#cart .cart TD.total
{
	text-align: right;
}
#cart .cart .remove
{
	text-align: right;
}
#cart .cart .remove IMG
{
	cursor: pointer;
}
#cart TABLE.total
{
	border-collapse: collapse;
	padding: 5px;
	float: right;
	clear: left;
	margin-bottom: 5px;
}
#cart TABLE.total TD
{
	color: #000;
}
#cart .content .checkout
{
	text-align: right;
	clear: both;
}
#cart .empty
{
	padding-top: 50px;
	text-align: center;
}
#search
{
	position: absolute;
	top: 15px;
	right: 0px;
	width: 298px;
	z-index: 15;
}
.button-search
{
	position: absolute;
	left: 0px;
	background: url('../image/button-search.png') no-repeat center center;
	width: 28px;
	height: 24px;
	border-right: 1px solid #CCCCCC;
	cursor: pointer;
}
#search INPUT
{
	background: #FFF;
	padding: 1px 1px 1px 33px;
	width: 262px;
	height: 21px;
	border: 1px solid #CCCCCC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 0px 2px 0px #F0F0F0;
	-moz-box-shadow: 0px 2px 0px #F0F0F0;
	box-shadow: 0px 2px 0px #F0F0F0;
}
#welcome
{
	z-index: 5;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	padding: 10px;
	font-weight: normal;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #D0D0D0;
}
#linkswrapper
{
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
#linkswrapperinside
{
	background: #333333 url('../images/lined.png');
	width: 980px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
#links
{
	bottom: 3px;
	font-size: 10px;
	padding-right: 10px;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
}
#links A
{
	float: left;
	display: block;
	color: #BCBCBC;
	text-decoration: none;
	font-size: 12px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 12px 12px 10px;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
}
#links A:hover
{
	background-color: #232222;
}
#cart_total
{
	color: #F47900;
}
#links A + A
{
	border-left: 1px solid #2D2D2D;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
}
/*menu*/
#menu
{
	padding: 0px;
	/*+placement:float-right 0px 0px;*/
	float: right;
	position: relative;
	left: 0px;
	top: 0px;
	margin-right: 0;
	clear: both;
	margin-top: 0;
}
#menu UL
{
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu > UL > LI
{
	position: relative;
	float: left;
	z-index: 20;
}
#menu > UL > LI:hover
{
	color: #FFFFFF;
}
#menu > UL > LI > A
{
	font-size: 18px;
	line-height: 14px;
	text-decoration: none;
	display: block;
	padding: 10px 25px 10px 15px;
	z-index: 1;
	position: relative;
	color: #000000;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-image: url(../images/arrowmenu.png);
	background-repeat: no-repeat;
	background-position: right;
	margin-right: 0;
	margin-bottom: 2px;
}
#menu > UL > LI > DIV
{
	display: none;
	background: #333333;
	position: absolute;
	z-index: 5;
}
#menu > UL > LI:hover > DIV
{
	display: table;
	position: absolute;
	/*+placement:anchor-top-right 0px 38px;*/
	position: absolute;
	right: 0px;
	top: 38px;
}
#menu > UL > LI > DIV > UL
{
	display: table-cell;
}
#menu > UL > LI UL + UL
{
	padding-left: 20px;
}
#menu > UL > LI UL > LI > A
{
	text-decoration: none;
	padding: 4px;
	color: #FFFFFF;
	display: block;
	white-space: nowrap;
	min-width: 120px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#menu > UL > LI UL > LI > A:hover
{
	background: #2D2D2D;
	padding: 8px;
	color: #F77B00;
}
#menu > UL > LI > DIV > UL > LI > A
{
	color: #FFFFFF;
	padding: 8px;
}
.breadcrumb
{
	color: #CCCCCC;
	margin-bottom: 20px;
	padding-top: 10px;
}
.success, .warning, .attention, .information
{
	padding: 10px 10px 10px 33px;
	color: #555555;
}
.success
{
	background: #EAF7D9 url('../image/success.png') no-repeat 10px center;
	border: 1px solid #BBDF8D;
}
.warning
{
	background: #FFD1D1 url('../image/warning.png') no-repeat 10px center;
	border: 1px solid #F8ACAC;
}
.attention
{
	background: #FFF5CC url('../image/attention.png') no-repeat 10px center;
	border: 1px solid #F2DD8C;
}
.success .close, .warning .close, .attention .close, .information .close
{
	float: right;
	padding-top: 4px;
	padding-right: 4px;
	cursor: pointer;
}
.required
{
	color: #FF0000;
	font-weight: bold;
}
.error
{
	display: block;
	color: #FF0000;
}
.help
{
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}
TABLE.form
{
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
TABLE.form TR TD:first-child
{
	width: 150px;
}
TABLE.form > * > * > TD
{
	color: #000000;
}
TABLE.form TD
{
	padding: 4px;
}
INPUT.large-field, SELECT.large-field
{
	width: 300px;
}
TABLE.list
{
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
TABLE.list TD
{
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
TABLE.list THEAD TD
{
	background-color: #EFEFEF;
	padding: 0px 5px;
}
TABLE.list THEAD TD A, .list THEAD TD
{
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
TABLE.list TBODY TD A
{
	text-decoration: underline;
}
TABLE.list TBODY TD
{
	vertical-align: top;
	padding: 0px 5px;
}
TABLE.list .left
{
	text-align: left;
	padding: 7px;
}
TABLE.list .right
{
	text-align: right;
	padding: 7px;
}
TABLE.list .center
{
	text-align: center;
	padding: 7px;
}
.pagination
{
	border-top: 1px solid #EEEEEE;
	padding-top: 8px;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}
.pagination .links
{
	float: left;
}
.pagination .links A
{
	display: inline-block;
	border: 1px solid #EEEEEE;
	padding: 4px 10px;
	text-decoration: none;
	color: #A3A3A3;
}
.pagination .links B
{
	display: inline-block;
	border: 1px solid #F77B00;
	padding: 4px 10px;
	font-weight: normal;
	text-decoration: none;
	color: #F77B00;
	background: #FFFFFF;
}
.pagination .results
{
	float: right;
	padding-top: 3px;
}
/*button-searchbar*/
A.buttonsearch
{
	display: inline-block;
	padding-left: 11px;
	background: url('../image/buttonsearch-left.png') no-repeat top left;
	text-decoration: none;
	cursor: pointer;
}
A.buttonsearch SPAN
{
	color: #FFFFFF;
	line-height: 16px;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	padding: 6px 15px 20px 5px;
	background: url('../image/buttonsearch-right.png') no-repeat top right;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	width: 60px;
	text-shadow: 1px 1px 2px #000000;
}
A.buttonsearch:hover
{
	background: url('../image/buttonsearch-leftactive.png') no-repeat top left;
}
.searchbox-content .button
{
	margin-left: 14px;
}
A.buttonsearch:hover SPAN
{
	color: #FFFFFF;
	background: url('../image/buttonsearch-rightactive.png') no-repeat top right;
	/*[empty]font-family:;*/
}
.buttonssearch
{
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	overflow: auto;
	padding: 6px;
	margin-bottom: 20px;
}
.buttonssearch .left
{
	float: left;
	text-align: left;
}
.buttonssearch .right
{
	float: right;
	text-align: right;
}
.buttonssearch .center
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
/*button*/
A.button
{
	display: inline-block;
	padding-left: 6px;
	background: url('../image/button-left.png') no-repeat top left;
	text-decoration: none;
	cursor: pointer;
}
A.button SPAN
{
	color: #FFFFFF;
	line-height: 12px;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	padding: 6px 12px 8px 5px;
	background: url('../image/button-right.png') no-repeat top right;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
A.button:hover
{
	background: url('../image/button-left-active.png') no-repeat top left;
}
.searchbox-content .button
{
	margin-left: 14px;
}
A.button:hover SPAN
{
	color: #FFFFFF;
	background: url('../image/button-right-active.png') no-repeat top right;
	/*[empty]font-family:;*/
}
.buttons
{
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	overflow: auto;
	padding: 6px;
	margin-bottom: 20px;
}
.buttons .left
{
	float: left;
	text-align: left;
}
.buttons .right
{
	float: right;
	text-align: right;
}
.buttons .center
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.htabs
{
	height: 30px;
	line-height: 16px;
	border-bottom: 1px solid #DDDDDD;
}
.htabs A
{
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	background: #FFFFFF url('../image/tab.png') repeat-x;
	padding: 7px 15px 6px;
	float: left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #000000;
	margin-right: 2px;
	display: none;
}
.htabs A.selected
{
	padding-bottom: 7px;
	background: #FFFFFF;
}
.tab-content
{
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	padding: 10px;
	margin-bottom: 20px;
	z-index: 2;
	overflow: auto;
}
/*box*/
.searchkeywords
{
	width: 200px;
	padding: 10px;
	margin: 5px;
}
.searchbardropdown
{
	width: 200px;
	padding: 10px;
	margin: 5px;
}
.searchbox-content
{
	padding: 0 10px 15px;
	/*[empty]width:;*/
}
.box-categorywrap
{
}
.box-categorywrap .box-heading
{
	border: 1px solid #333333;
	background: #333333 url('../images/lined2.png') repeat-x;
	padding: 8px 10px 7px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	color: #FFFFFF;
	text-shadow: 0px 1px #000000;
}
.box-categorywrap .box-content
{
	background: #D0D0D0;
	border-left: 1px solid #DBDEE1;
	border-right: 1px solid #DBDEE1;
	border-bottom: 1px solid #DBDEE1;
	background: #EBEBEB url('../images/lined2.png');
	padding: 10px;
}
.box
{
	margin-bottom: auto;
}
.box .box-heading
{
	border: 1px solid #DBDEE1;
	background: #626262 url('../images/lined2.png') repeat-x;
	padding: 8px 10px 7px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	color: #FFFFFF;
	text-shadow: 1px 1px 2px #000000;
	margin-top: 10px;
}
.box .box-content
{
	background: #FFFFFF;
	border-left: 1px solid #DBDEE1;
	border-right: 1px solid #DBDEE1;
	border-bottom: 1px solid #DBDEE1;
	padding: 10px;
}
/*box products*/
.box-product
{
	/*[disabled]width:100%;*/
	overflow: auto;
	padding: 0;
}
.box-product > DIV
{
	display: inline-block;
	vertical-align: top;
	width: 125px;
	padding: 10px;
	background: #EBEBEB url('../images/lined2.png');
}
#column-left + #column-right + #content .box-product > DIV
{
	width: 119px;
}
.box-product .image
{
	display: block;
	margin-bottom: 0px;
	margin-left: 3px;
	margin-top: 5px;
}
.box-product .image IMG
{
	border: 1px solid #C7C7C7;
	/*+box-shadow:2px 2px #9B9B9B;*/
	-moz-box-shadow: 2px 2px #9B9B9B;
	-webkit-box-shadow: 2px 2px #9B9B9B;
	-o-box-shadow: 2px 2px #9B9B9B;
	box-shadow: 2px 2px #9B9B9B;
	-moz-box-shadow: 2px 2px #9B9B9B;
	-webkit-box-shadow: 2px 2px #9B9B9B;
}
.box-product .name A
{
	color: #F77B00;
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin-bottom: 4px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-top: 10px;
}
.box-product .price
{
	display: block;
	font-weight: bold;
	color: #333333;
	margin-bottom: 10px;
	margin-top: 10px;
}
.box-product .price-old
{
	color: #F00;
	text-decoration: line-through;
}
.box-product .price-new
{
	font-weight: bold;
}
.box-product .rating
{
	display: block;
	margin-bottom: 4px;
}
/*box maincategory*/
.box-maincategory
{
	margin-top: -5px;
}
.box-maincategory UL
{
	list-style: none;
	margin: 0;
	padding: 0;
}
.box-maincategory > UL > LI
{
	padding: 11px 11px 11px 0;
}
.box-maincategory > UL > LI + LI
{
	border-top: 1px solid #EEEEEE;
}
.box-maincategory > UL > LI > A
{
	text-decoration: none;
	color: #333;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.box-maincategory > UL > LI UL
{
	display: none;
}
.box-maincategory > UL > LI A.active
{
	font-weight: bold;
}
.box-maincategory > UL > LI A.active + UL
{
	display: block;
}
.box-maincategory > UL > LI UL > LI > A
{
	text-decoration: none;
	display: block;
	padding-top: 5px;
}
.box-maincategory > UL > LI UL > LI > A.active
{
	font-weight: bold;
}
/*box category*/
.box-category
{
	margin-top: -5px;
}
.box-category UL
{
	list-style: none;
	margin: 0;
	padding: 0;
}
.box-category > UL > LI
{
	padding: 8px 8px 8px 0px;
}
.box-category > UL > LI + LI
{
	border-top: 1px solid #EEEEEE;
}
.box-category > UL > LI > A
{
	text-decoration: none;
	color: #333;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.box-category > UL > LI UL
{
	display: none;
}
.box-category > UL > LI A.active
{
	font-weight: bold;
}
.box-category > UL > LI A.active + UL
{
	display: block;
}
.box-category > UL > LI UL > LI > A
{
	text-decoration: none;
	display: block;
	padding-top: 5px;
}
.box-category > UL > LI UL > LI > A.active
{
	font-weight: bold;
}
/*content*/
#content .content
{
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
	border: 1px solid #EEEEEE;
	background-color: #F1F1F2;
	background: url('../images/lined2.png');
}
#content .content .left
{
	float: left;
	width: 49%;
}
#content .content .right
{
	float: right;
	width: 49%;
}
/*category*/
.category-info
{
	overflow: auto;
	margin-bottom: 20px;
}
.category-info .image
{
	float: left;
	padding: 5px;
	margin-right: 15px;
}
.category-list
{
	overflow: auto;
	background-color: #F1F1F2;
	background: url('../images/lined2.png');
	padding: 0;
	margin-bottom: 15px;
}
.category-list UL
{
	float: left;
	width: 18%;
}
.category-list .div A
{
	text-decoration: underline;
	font-weight: bold;
}
/*manufacturer*/
.manufacturer-list
{
	border: 1px solid #DBDEE1;
	padding: 5px;
	overflow: auto;
	margin-bottom: 20px;
}
.manufacturer-heading
{
	background: #F8F8F8 url(../images/lined2.png);
	font-size: 15px;
	font-weight: bold;
	padding: 5px 8px;
	margin-bottom: 6px;
}
.manufacturer-content
{
	padding: 8px;
}
.manufacturer-list UL
{
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
}
/*product*/
.product-filter
{
	border-bottom: 1px solid #EEEEEE;
	padding-bottom: 5px;
	overflow: auto;
}
.product-filter .display
{
	margin-right: 15px;
	float: left;
	padding-top: 4px;
	color: #333;
}
.product-filter .display A
{
	font-weight: bold;
}
.product-filter .sort
{
	float: right;
	color: #333;
}
.product-filter .limit
{
	margin-left: 15px;
	float: right;
	color: #333;
}
.product-compare
{
	padding-top: 6px;
	margin-bottom: 25px;
	font-weight: bold;
}
.product-compare A
{
	text-decoration: none;
	font-weight: bold;
}
.product-list > DIV
{
	overflow: auto;
	margin-bottom: 15px;
}
.product-list .right
{
	float: right;
	margin-left: 15px;
}
.product-list > DIV + DIV
{
	border-top: 1px solid #EEEEEE;
	padding-top: 16px;
}
.product-list .image
{
	float: left;
	margin-right: 15px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
	width: 125px;
	padding: 10px;
	background: #EBEBEB url('../images/lined2.png');
	border: 1px solid #C7C7C7;
	/*+box-shadow:2px 2px #9B9B9B;*/
	-moz-box-shadow: 2px 2px #9B9B9B;
	-webkit-box-shadow: 2px 2px #9B9B9B;
	-o-box-shadow: 2px 2px #9B9B9B;
	box-shadow: 2px 2px #9B9B9B;
}
.product-list .image IMG
{
	border: 5px solid #FFFFFF;
	/*+box-shadow:2px 2px #9B9B9B;*/
	-moz-box-shadow: 2px 2px #9B9B9B;
	-webkit-box-shadow: 2px 2px #9B9B9B;
	-o-box-shadow: 2px 2px #9B9B9B;
	box-shadow: 2px 2px #9B9B9B;
}
.product-list .name
{
	margin-bottom: 3px;
}
.product-list .name A
{
	color: #F77B00;
	font-weight: bold;
	text-decoration: none;
}
.product-list .description
{
	line-height: 15px;
	margin-bottom: 5px;
	color: #4D4D4D;
}
.product-list .rating
{
	color: #7B7B7B;
}
.product-list .price
{
	float: right;
	height: 50px;
	margin-left: 10px;
	text-align: right;
	color: #333333;
	font-size: 12px;
}
.product-list .price-old
{
	color: #F00;
	text-decoration: line-through;
}
.product-list .price-new
{
	font-weight: bold;
}
.product-list .price-tax
{
	font-size: 12px;
	font-weight: normal;
	color: #BBBBBB;
}
.product-list .cart
{
	margin-bottom: 3px;
}
.product-list .wishlist, .product-list .compare
{
	margin-bottom: 3px;
}
.product-list .wishlist A
{
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') no-repeat left center;
}
.product-list .compare A
{
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') no-repeat left 60%;
}
.product-grid
{
	width: 100%;
	overflow: auto;
	padding: 10px;
}
.product-grid > DIV
{
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
	width: 125px;
	padding: 10px;
	background: #EBEBEB url('../images/lined2.png');
}
#column-left + #column-right + #content .product-grid > DIV
{
	width: 125px;
}
.product-grid .image
{
	display: block;
	margin-bottom: 0px;
	margin-left: 3px;
	margin-top: 5px;
}
.product-grid .image IMG
{
	border: 1px solid #C7C7C7;
	/*+box-shadow:2px 2px #9B9B9B;*/
	-moz-box-shadow: 2px 2px #9B9B9B;
	-webkit-box-shadow: 2px 2px #9B9B9B;
	-o-box-shadow: 2px 2px #9B9B9B;
	box-shadow: 2px 2px #9B9B9B;
}
.product-grid .name A
{
	color: #F77B00;
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin-bottom: 4px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-top: 10px;
}
.name A:hover
{
	color: #030303;
}
.product-grid .description
{
	display: none;
}
.product-grid .rating
{
	display: block;
	margin-bottom: 4px;
}
.product-grid .price
{
	display: block;
	font-weight: bold;
	color: #333333;
	margin-bottom: 10px;
	margin-top: 10px;
}
.product-grid .price-old
{
	color: #F00;
	text-decoration: line-through;
}
.product-grid .price-new
{
	font-weight: bold;
}
.product-grid .price .price-tax
{
	display: none;
}
.product-grid .cart
{
	margin-bottom: 3px;
}
.product-grid .wishlist, .product-grid .compare
{
	margin-bottom: 3px;
}
.product-grid .wishlist A
{
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') no-repeat left center;
	margin-top: 10px;
}
.product-grid .compare A
{
	color: #333333;
	text-decoration: none;
	padding-left: 18px;
	display: block;
	background: url('../image/add.png') no-repeat left center;
}
/*Product*/
.product-info
{
	overflow: auto;
	margin-bottom: 20px;
}
.product-info > .left
{
	float: left;
	/*[disabled]padding:0 5px 5px 0;*/
}
.product-info > .right
{
	float: left;
	width: 360px;
	/*[disabled]padding:10px 10px 0;*/
	margin-left: 10px;
}
.product-info > .left + .right
{
}
.product-info .image
{
	float: left;
	text-align: center;
	padding: 10px;
	background-color: #FFFFFF;
	border: 10px solid #EBEBEB;
}
.product-info .image-additional
{
	width: 350px;
	clear: both;
	overflow: hidden;
	padding-top: 10px;
}
.product-info .image-additional IMG
{
	border: 5px solid #EBEBEB;
}
.product-info .image-additional A
{
	float: left;
	display: block;
	margin: 0 0 10px 10px;
}
.product-info .description
{
	padding: 0 5px 10px 0;
	margin-bottom: 10px;
	line-height: 20px;
	color: #4D4D4D;
}
.product-info .description SPAN
{
	color: #000;
	font-weight: bold;
}
.product-info .description A
{
	color: #222;
	text-decoration: none;
}
.product-info .price
{
	overflow: auto;
	padding: 0 5px 10px 0;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: bold;
	color: #333333;
}
.product-info .price-old
{
	color: #666;
	text-decoration: line-through;
}
.product-info .price-new
{
}
.product-info .price-tax
{
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .reward
{
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .discount
{
	font-weight: normal;
	font-size: 12px;
	color: #4D4D4D;
}
.product-info .options
{
	margin-bottom: 10px;
	color: #000000;
}
.product-info .options-content
{
	background: #F7F7F7;
	border: 2px dotted #D6D6D6;
	padding: 10px 10px 5px;
}
.product-info .cart
{
	border: 1px solid #D6D6D6;
	border-width: 1px 1px 0;
	padding: 10px 5px 10px 10px;
	color: #4D4D4D;
	overflow: auto;
}
.product-info .cart A
{
	font-size: 11px;
}
.product-info .cart DIV
{
	float: left;
	vertical-align: middle;
}
.product-info .cart DIV > SPAN
{
	padding-top: 7px;
	display: block;
	color: #999;
}
.product-info .cart .minimum
{
	padding-top: 5px;
	font-size: 11px;
	color: #999;
	clear: both;
}
.product-info .cart, .product-info .review
{
	background: #EBEBEB url('../images/lined2.png');
}
.product-info .review
{
	border: 1px solid #D6D6D6;
	background: #EBEBEB url('../images/lined2.png');
	border-width: 1px 1px 0;
	margin-bottom: 10px;
}
.product-info .review > DIV
{
	padding: 8px;
	border-bottom: 1px solid #D6D6D6;
	line-height: 20px;
	/*[empty]font-family:;*/
}
.product-info .review > DIV > SPAN
{
	color: #F77B00;
}
.product-info .review .share
{
	overflow: auto;
	line-height: normal;
}
.product-info .review .share A
{
	text-decoration: none;
}
.attribute
{
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.attribute THEAD TD, .attribute THEAD TR TD:first-child
{
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.attribute TR TD:first-child
{
	color: #000000;
	font-weight: bold;
	text-align: right;
	width: 20%;
}
.attribute TD
{
	padding: 7px;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info
{
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.compare-info THEAD TD, .compare-info THEAD TR TD:first-child
{
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.compare-info TR TD:first-child
{
	color: #000000;
	font-weight: bold;
	text-align: right;
}
.compare-info TD
{
	padding: 7px;
	width: 20%;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info .name A
{
	font-weight: bold;
}
.compare-info .price-old
{
	font-weight: bold;
	color: #F00;
	text-decoration: line-through;
}
.compare-info .price-new
{
	font-weight: bold;
}
/*wishlist*/
.wishlist-product TABLE
{
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.wishlist-product TD
{
	padding: 7px;
}
.wishlist-product THEAD TD
{
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-product THEAD .remove, .wishlist-product THEAD .image, .wishlist-product THEAD .cart
{
	text-align: center;
}
.wishlist-product THEAD .name, .wishlist-product THEAD .model, .wishlist-product THEAD .stock
{
	text-align: left;
}
.wishlist-product THEAD .quantity, .wishlist-product THEAD .price, .wishlist-product THEAD .total
{
	text-align: right;
}
.wishlist-product TBODY TD
{
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-product TBODY .remove
{
	vertical-align: middle;
}
.wishlist-product TBODY .remove, .wishlist-product TBODY .image, .wishlist-product TBODY .cart
{
	text-align: center;
}
.wishlist-product TBODY .name, .wishlist-product TBODY .model, .wishlist-product TBODY .stock
{
	text-align: left;
}
.wishlist-product TBODY .quantity, .wishlist-product TBODY .price, .wishlist-product TBODY .total
{
	text-align: right;
}
.wishlist-product TBODY .price S
{
	color: #F00;
}
.login-content
{
	margin-bottom: 20px;
	overflow: auto;
}
.login-content .left
{
	float: left;
	width: 48%;
}
.login-content .right
{
	float: right;
	width: 48%;
}
.login-content .left .content, .login-content .right .content
{
	min-height: 190px;
}
/*orders*/
.order-list
{
	margin-bottom: 10px;
}
.order-list .order-id
{
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.order-list .order-status
{
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.order-list .order-content
{
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.order-list .order-content DIV
{
	float: left;
	width: 33.3%;
}
.order-list .order-info
{
	text-align: right;
}
.order-detail
{
	background: #EFEFEF;
	font-weight: bold;
}
/*returns*/
.return-list
{
	margin-bottom: 10px;
}
.return-list .return-id
{
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.return-list .return-status
{
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.return-list .return-content
{
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.return-list .return-content DIV
{
	float: left;
	width: 33.3%;
}
.return-list .return-info
{
	text-align: right;
}
.return-product
{
	overflow: auto;
	margin-bottom: 20px;
}
.return-name
{
	float: left;
	width: 33.3%;
}
.return-model
{
	float: left;
	width: 33.3%;
}
.return-quantity
{
	float: left;
	width: 33.3%;
}
.return-detail
{
	overflow: auto;
	margin-bottom: 20px;
}
.return-reason
{
	float: left;
	width: 33.3%;
}
.return-opened
{
	float: left;
	width: 33.3%;
}
.return-opened TEXTAREA
{
	width: 98%;
	vertical-align: top;
}
.return-remove
{
	float: left;
	width: 33.3%;
	padding-top: 90px;
	text-align: center;
	vertical-align: middle;
}
.return-additional
{
	overflow: auto;
	margin-bottom: 20px;
}
.return-comment
{
	float: left;
	width: 49%;
}
.return-captcha
{
	float: right;
	width: 49%;
}
.download-list
{
	margin-bottom: 10px;
}
.download-list .download-id
{
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.download-list .download-status
{
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.download-list .download-content
{
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.download-list .download-content DIV
{
	float: left;
	width: 33.3%;
}
.download-list .download-info
{
	text-align: right;
}
/*cart*/
.cart-info TABLE
{
	width: 100%;
	margin-bottom: 20px;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}
.cart-info TD
{
	padding: 7px;
}
.cart-info THEAD TD
{
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info THEAD .remove, .cart-info THEAD .image
{
	text-align: center;
}
.cart-info THEAD .name, .cart-info THEAD .model
{
	text-align: left;
}
.cart-info THEAD .quantity, .cart-info THEAD .price, .cart-info THEAD .total
{
	text-align: right;
}
.cart-info TBODY TD
{
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info TBODY .remove
{
	vertical-align: middle;
}
.cart-info TBODY .remove, .cart-info TBODY .image
{
	text-align: center;
}
.cart-info TBODY .name, .cart-info TBODY .model
{
	text-align: left;
}
.cart-info TBODY .quantity, .cart-info TBODY .price, .cart-info TBODY .total
{
	text-align: right;
}
.cart-info TBODY SPAN.stock
{
	color: #F00;
	font-weight: bold;
}
.cart-module .cart-heading
{
	border: 1px solid #DBDEE1;
	padding: 8px 8px 8px 22px;
	font-weight: bold;
	font-size: 13px;
	color: #555555;
	margin-bottom: 15px;
	cursor: pointer;
	background: #F8F8F8 url('../image/arrow-right.png') no-repeat 10px 50%;
}
.cart-module .active
{
	background: #F8F8F8 url('../image/arrow-down.png') no-repeat 7px 50%;
}
.cart-module .cart-content
{
	padding: 0px 0px 15px;
	display: none;
	overflow: auto;
}
.cart-total
{
	border-top: 1px solid #DDDDDD;
	overflow: auto;
	padding-top: 8px;
	margin-bottom: 15px;
}
.cart-total TABLE
{
	float: right;
}
.cart-total TD
{
	padding: 3px;
	text-align: right;
}
/*checkout*/
.checkout-heading
{
	background: #F8F8F8;
	border: 1px solid #DBDEE1;
	padding: 8px;
	font-weight: bold;
	font-size: 13px;
	color: #555555;
	margin-bottom: 15px;
}
.checkout-heading A
{
	float: right;
	margin-top: 1px;
	font-weight: normal;
	text-decoration: none;
}
.checkout-content
{
	padding: 0px 0px 15px;
	display: none;
	overflow: auto;
}
.checkout-content .left
{
	float: left;
	width: 48%;
}
.checkout-content .right
{
	float: right;
	width: 48%;
}
.checkout-content .buttons
{
	clear: both;
}
.checkout-product TABLE
{
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.checkout-product TD
{
	padding: 7px;
}
.checkout-product THEAD TD
{
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product THEAD .name, .checkout-product THEAD .model
{
	text-align: left;
}
.checkout-product THEAD .quantity, .checkout-product THEAD .price, .checkout-product THEAD .total
{
	text-align: right;
}
.checkout-product TBODY TD
{
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product TBODY .name, .checkout-product TBODY .model
{
	text-align: left;
}
.checkout-product TBODY .quantity, .checkout-product TBODY .price, .checkout-product TBODY .total
{
	text-align: right;
}
.checkout-product TFOOT TD
{
	text-align: right;
	border-bottom: 1px solid #DDDDDD;
}
.contact-info
{
	overflow: auto;
}
.contact-info .left
{
	float: left;
	width: 48%;
}
.contact-info .right
{
	float: left;
	width: 48%;
}
.sitemap-info
{
	overflow: auto;
	margin-bottom: 40px;
	background-color: #F1F1F2;
	background: url('../images/lined2.png');
}
.sitemap-info .left
{
	float: left;
	width: 48%;
}
.sitemap-info .right
{
	float: left;
	width: 48%;
}
/*footer*/
#footer-wrapper
{
	background: #000;
	margin-top: 5px;
	margin-bottom: 0px;
	padding: 15px;
	clear: both;
}
#footer
{
	clear: both;
	overflow: auto;
	min-height: 100px;
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}
#footer H3
{
	color: #FFFFFF;
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 8px;
	background-image: url(../images/lined2.png);
	background-color: #424242;
	padding: 5px 10px;
	margin-right: 5px;
}
#footer .column
{
	float: left;
	width: 25%;
	min-height: 100px;
}
#footer .column UL
{
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 10px;
}
#footer .column UL LI
{
	margin-bottom: 3px;
}
#footer .column A
{
	text-decoration: none;
	color: #666;
}
#footer .column A:hover
{
	text-decoration: underline;
}
#powered-wrapper
{
	background: #000;
	margin-bottom: 0px;
	padding: 15px;
	border-top: 1px solid #393939;
	clear: both;
}
.poweredtext
{
	color: #CCCCCC;
}
#powered
{
	color: #FFFFFF;
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	font-size: 8pt;
}
/*banner*/
.banner DIV
{
	text-align: center;
	width: 100%;
}
.banner DIV IMG
{
	margin-bottom: 20px;
}
#tabhome
{
	background: transparent url("../images/home.png") no-repeat scroll 0 0;
	display: block;
	float: left;
	height: 17px;
	position: relative;
	width: 18px;
	clear: both;
	padding: 0px;
	margin: 9px 13px 9px 10px;
}
